{% include 'header.html' %}
    <main>
      <article>
      
        <!-- 
       #FEATURED Blogs
      -->

        <section class="section feature" aria-label="feature" id="featured">
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">Blogs</span>
            </h2>

            <p class="section-text">Featured and highly rated articles</p>

            <ul class="feature-list">
              <li>        
              </li>
              <li>        
              </li>
              {% for blog in blogs  %}
              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="{{ blog.images.url }}"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="Self-observation is the first step of inner unfolding"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      {% for tag in blog.tags.all %}
                      <div class="card-tag">
                        <a href="#" class="span hover-2">{{tag.name}}</a>

                        
                      </div>
                      {% endfor %}

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">{{ blog.reading_time }}</span>
                      </div>
                    </div>

                    <h4 class="headline headline-3">
                      <a href="{% url 'blog_detail' slug=blog.slugs %}" class="card-title hover-2">
                        {{blog.title}} 
                      </a>
                    </h4>
                    <p class="card-subtitle">{{ blog.content|truncatechars:100 }}</p>
                    

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title">{{ blog.author.username }}</p>

                          <p class="card-subtitle">{{ blog.created_at|date:"F j, Y" }}</p>
                        </div>
                      </div>
                      <a href="{% url 'blog_detail' slug=blog.slugs %}" class="card-btn">Read more</a>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
              

              
              
            </ul>

            <a href="#" class="btn btn-secondary">
              <span class="span">Show More Posts</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>

          
        </section>

      </article>
    </main>

 {% include 'footer.html' %}
