{% include 'header.html'  %} {% load custom_filters %}
<main>
  <article>

    <section class="section feature" aria-label="feature" id="featured" style="margin-top: 60px">
      <div class="container">
        {% for ph in proj_header %}
        <h2 class="headline headline-2 section-title" id="tag-label">
          <span class="span">{{ph.header_title}}</span>
        </h2>
        <span><p class="section-text">{{ ph.header_des|safe }}</p></span>
        {% endfor %}

        <div class="container responsive-tabs">
          <ul class="nav nav-tabs" role="tablist">
            {% for ct in category %}
            <li class="nav-item">
              <a href="#pane-{{ ct.id }}" class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab"
                role="tab">
                {{ ct.name }}
              </a>
            </li>
            {% endfor %}
          </ul>

          <div id="content" class="tab-content" role="tablist">
            {% for ct in category %}
            <div id="pane-{{ ct.id }}" class="card tab-pane fade {% if forloop.first %}show active{% endif %}"
              role="tabpanel">
              <section>
                <ul class="feature-list">
                  <li></li>
                  <li></li>
                  {% for project in category_projects|get_item:ct.id %}
                  <li>
                    <div class="card feature-card">
                      {% with project.images.first as img %}
                      {% if img %}
                      <figure class="card-banner img-holder" style="--width: 1602; --height: 903">
                        <img src="{{ img.image.url }}" width="1602" height="903" loading="lazy"
                          alt="{{ project.title }}" class="img-cover" />
                      </figure>
                      {% endif %}
                      {% endwith %}

                      <div class="card-content">
                        <div class="card-wrapper">
                          <div class="card-tag">
                            <a href="#" class="span hover-2">{{ project.category.name }}</a>
                          </div>



                          {% if project.live_url %}
                          <div class="wrapper">
                            <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                            <a href="{{ project.live_url }}" target="_blank" class="span hover-2">Live View</a>
                          </div>
                          {% endif %}
                        </div>

                        <h4 class="headline headline-3">
                          {% if project.auto_slug %}
                          <a href="{% url 'project_detail' project.auto_slug %}" class="card-btn">View Project</a>
                          {% else %}
                          {{ project.title }}
                          </a>
                          {% endif %}


                        </h4>

                        <p class="card-subtitle">
                          {{ project.description|truncatechars:14|safe }}
                        </p>
                        <div class="wrapper">

                        </div>

                        <div class="card-wrapper">
                          <div class="profile-card">
                            <div class="wrapper">
                              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                              <span class="span">{{ project.author.username }}</span>

                            </div>
                            <p class="card-subtitle">{{ project.created_at|date:"F j, Y" }}</p>
                          </div>
                          {% if project.auto_slug %}
                          <a href="{% url 'project_detail' project.auto_slug %}" class="card-btn">View Project</a>
                          {% else %}
                          <a class="card-btn disabled">Missing Slug</a>
                          {% endif %}


                        </div>
                      </div>
                    </div>
                  </li>
                  {% empty %}
                  <p>No projects found in this category.</p>
                  {% endfor %}
                </ul>
              </section>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      
    </section>




  </article>
</main>

{% include 'footer.html' %}